body {
    margin-left: 50px;
}

h4, p {
    margin: 0 5px;
}



.grid-container {
    background-color: khaki;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr; 
    grid-template-rows: 150px 100px 50px  ;
    grid-column-gap: 50px;
    grid-row-gap: 25px;
}

.grid-item {
    margin: 10px;
    background-color: lightblue;
    padding: 5px;
}

.inline-grid-container {
    background-color: khaki;
    display: inline-grid;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    */
}